@import '../../../styles/vars.scss';

.container {
  background-color: $primary-color;
  padding: 20px 50px 20px 50px;
  display: flex;
  flex-direction: row-reverse;
}

.copyright {
  color: #fff;
}
